@media only all and (min-width: 992px) {
  .wrapper {
    margin: auto;
    width: 992px;
  }
}
@media only all and (min-width: 768px) {
  .wrapper {
    margin: auto;
    width: 768px;
  }

  .homecontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  nav {
    height: 50px;
    line-height: 40px;
    margin: 5px 0;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 0;
  }
  nav ul :last-child {
    border-right: 0;
  }
  nav ul li {
    border-right: 1px solid #2b303a;
    height: 75%;
    margin: auto;
    width: 100%;
  }

  .image1 {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    margin: 0 auto auto 0;
    width: 95%;
  }

  .par1 {
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 0 auto;
    width: 95%;
  }

  .image2 {
    grid-column: 2;
    grid-row: 2;
    height: auto;
    margin: auto 0 0 auto;
    width: 95%;
  }

  .par2 {
    grid-column: 1;
    grid-row: 2;
    width: 95%;
  }

  .bottomtext {
    border-top: solid #2b303a 1px;
    grid-column: 1/span 2;
    grid-row: 3;
    margin: 5px 0;
    text-align: center;
  }

  p {
    margin: 0 0 5px;
  }

  .appointmentcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 2fr;
  }

  .apptbanner {
    grid-column: 1/span 2;
  }

  .apptheader {
    grid-column: 1/span 2;
  }

  .appttext {
    grid-column: 1/span 2;
  }

  .pricingcontent h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  .item {
    background-color: #bfc0c0;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 250px;
    margin: 0 0 2em;
    width: 100%;
  }
  .item img {
    grid-column: 1;
    grid-row: 1/span 3;
    margin: auto;
    width: 90%;
  }
  .item h3 {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
  }
  .item p {
    grid-column: 2;
    grid-row: 2;
  }
  .item h2 {
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    padding-right: 1em;
    text-align: right;
  }

  .aboutheader {
    grid-column: 1/span 3;
    grid-row: 1;
  }

  .aboutcontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
  }
  .aboutcontent p {
    padding: 1em;
  }
  .aboutcontent img {
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .abouttext {
    grid-column: 1/span 2;
    grid-row: 2;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .aboutimage {
    grid-column: 3;
    grid-row: 2;
  }

  .mapouter {
    grid-column: 1;
    grid-row: 3;
  }

  .locationtext {
    grid-column: 2/span 3;
    grid-row: 3;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .ownertext {
    grid-column: 1/span 2;
    grid-row: 4;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .ownerimage {
    grid-column: 3;
    grid-row: 4;
  }
}
@media only all and (max-width: 768px) {
  .wrapper {
    margin: auto;
    width: 100%;
  }

  nav {
    line-height: 25px;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    border-bottom: 1px solid #2b303a;
    width: 100%;
  }
  nav ul li:last-child {
    border-bottom: 0;
  }

  p {
    margin: 0 0 5px;
  }

  .pricingcontent h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  .item {
    background-color: #bfc0c0;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 250px;
    margin: 0 0 2em;
    width: 100%;
  }
  .item img {
    grid-column: 1;
    grid-row: 1/span 3;
    margin: auto;
    width: 90%;
  }
  .item h3 {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
  }
  .item p {
    grid-column: 2;
    grid-row: 2;
  }
  .item h2 {
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    padding-right: 1em;
    text-align: right;
  }

  .homecontent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.3fr 1fr 0.3fr;
  }

  .image1 {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    margin: auto;
    width: 75%;
  }

  .par1 {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  .image2 {
    grid-column: 1;
    grid-row: 3;
    height: auto;
    margin: auto;
    width: 75%;
  }

  .par2 {
    grid-column: 1;
    grid-row: 4;
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  .bottomtext {
    border-top: solid #2b303a 1px;
    font-size: smaller;
    grid-column: 1;
    grid-row: 5;
    margin: 5px auto;
    text-align: center;
  }

  .aboutcontent {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .aboutcontent p {
    grid-column: 1;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .aboutcontent img {
    grid-column: 1;
    margin: auto;
    padding-bottom: 2em;
  }
  .aboutcontent .mapouter {
    grid-column: 1;
    margin: auto;
    padding-bottom: 2em;
  }
}
html {
  background-color: #e1f2fe;
  font-family: sans-serif;
}

body {
  color: #2b303a;
}

h1 {
  border-bottom: solid #2b303a;
  color: #ef8354;
  height: 50px;
  text-align: center;
}

h2 {
  color: #ef8354;
}

h3 {
  color: #ef8354;
}

textarea {
  overflow: auto;
  resize: none;
}

form {
  margin-bottom: 1em;
}
form input {
  width: 100%;
}
form textarea {
  width: 100%;
}

nav {
  background-color: #bfc0c0;
  border-radius: 2px;
  text-align: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}
nav ul li:hover {
  background-color: #a5a7a7;
}
nav ul li a {
  color: #ef8354;
  text-decoration: none;
}

footer {
  background-color: #ef8354;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.apptbanner {
  width: 100%;
}

.hourstable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 80%;
}

.booking {
  margin: auto;
  width: 80%;
}

.hourstabledays {
  text-align: left;
}

.hourstablehours {
  text-align: right;
}

.appointmentcontent h3 {
  text-align: center;
}

.apptheader {
  border-bottom: solid #bfc0c0;
  text-align: center;
}

.aboutheader {
  border-bottom: solid #bfc0c0;
  text-align: center;
}

.faqheader {
  border-bottom: solid #bfc0c0;
  text-align: center;
}

.aboutcontent h3 {
  margin: auto;
  text-align: center;
}
.aboutcontent p {
  padding: 1em;
}

.faqcontent {
  padding-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */
